.feature {
  @include paddingContainer(60px);

  @media screen and (min-width: $desctop) {
    @include paddingContainer(94px);
  }
}

.feature-icon {
  @extend %flex;

  margin-bottom: 30px;
  // width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;

  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $desctop) {
    width: 270px;
  }
}

.feature-subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: $max-tablet) {
    text-align: center;
  }
}

.feature-text {
  color: $secondaryTextColor;
  font-size: 14px;
  line-height: 1.71;
}

.feature-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.feature-list .item {
  max-width: 450px;

  @media screen and (max-width: $max-tablet) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tablet) and (max-width: $max-desctop) {
    max-width: 354px;

    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: $desctop) {
    max-width: 270px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
