.logo {
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logow {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.logob {
  color: #2196f3;
}
