$max-mobile: 479px;
$max-tablet: 767px;
$max-desctop: 1199px;
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;

// @media screen and (max-width: $max-mobile)
// @media screen and (max-width: $max-tablet)
// @media screen and (max-width: $max-desctop)
// @media screen and (min-width: $mobile)
// @media screen and (min-width: $tablet)
// @media screen and (min-width: $desctop)
